- var path = '../../'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body(data-spy="scroll", data-target=".sidebar")
    header.header.header-fixed-top
      .header-inner

        include ../includes/sample-navbar
   
    footer.footer.footer-fixed-bottom.visible-sm
      .footer-inner
          
    .main
      .main-inner

        include ../includes/sample-sidebar

        .content
          .page.snap-content.scrollable

            .pad
              h4 lorem ipsum
              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              p Bla bla  
                a(href='page2.html', data-transition='slide-in') go to page2



    include ../includes/sample-layoutscript
    
    include ../includes/layout/endscripts



