- var path = '../../'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body(data-spy="scroll", data-target=".sidebar")
    header.header.header-fixed-top
      .header-inner

        include ../includes/sample-navbar

          
    .main
      .main-inner

        include ../includes/sample-sidebar


        .content
          .page.snap-content.scrollable

            .row.row-page-nav
              .col.col-lg-4.col-page-nav
                .page-nav
                  ul.nav.nav-pills.nav-stacked
                    li: a(href="#") Home
                    li: a(href="#") Profile
                    li: a(href="#") Messages
                    li.active: a(href="#") Mehr ...

              .col.col-lg-8.pad
                h4 lorem ipsum
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                p Bla bla  
                  a(href='default.html', data-transition='slide-out') go to page1


    include ../includes/sample-layoutscript
    
    include ../includes/layout/endscripts



