
.brandbar + .navbar 
  margin-bottom: 0

  > .navbar-inner
    padding-left: 0
    padding-right: 0

.brandbar
  background: $white

  .statusbar
    margin: 10px 0

    strong
      color: $kabaBlue

    .label
      border-radius: 0

.brandbar-xsmall
  height: 40px
  max-height: 40px

  a.brand
    display: inline-block
    margin-left: 13px
    height: 40px
    width: 80px
    background: url(../img/kaba_xs.gif) no-repeat
