ul.commands
  list-style: none
  margin-left: 0
  color: $kabaMiddleBlue
  margin: 0 5px 0 0 

  li
    margin: 0 7px
    float: left

    a
      color: $kabaMiddleBlue

      [class^="icon-"], [class*=" icon-"]
        margin-left: 0
        margin-right: 1px
        font-size: 18px

      &:hover
        color: $kabaBlue
        text-decoration: none

        [class^="icon-"], [class*=" icon-"]
          color: $kabaBlue

    &.divider
      border-right: 1px solid lighten($kabaMiddleBlue, 10)
      border-left: 1px solid darken($kabaLightBlue, 5)
      height: 20px
      margin: 0 5px

