.text-kabaBlue
  color: $kabaBlue
.text-kabaDarkGray
  color: $kabaDarkGray
.text-kabaTextGray
  color: $kabaTextGray
.text-white
  color: $white

// highlights
.text-kabaOrange, .text-warning
  color: $kabaOrange
.text-kabaRed, .text-error
  color: $kabaRed
.text-kabaGreen, .text-success
  color: $kabaGreen