.img-caption
  position: relative
  border: solid 1px $kabaBlue
  display: inline-block

  img
    width: 100%

  .caption
    background: $kabaBlue
    background: rgba(4, 40, 77, 0.8)
    color: $white
    padding: 2px 5px
    position: absolute
    left: 0
    right: 0
    bottom: 0
    border-top: solid 1px $kabaBlue

    h1, h2, h3, h4, h5, h6
      color: $white
      margin: 0 0 2px

    p
      font-size: 12px
      margin: 0

  &.img-caption-orange
    border: solid 1px $kabaOrange

    .caption
      background: $kabaOrange
      background: rgba(242, 162, 0, 0.8)
      border-top: solid 1px $kabaOrange

  &.img-caption-gray
    border: solid 1px $kabaDarkGray

    .caption
      background: $kabaDarkGray
      background: rgba(76, 76, 76, 0.8)
      border-top: solid 1px $kabaDarkGray