// header fixed
.header-fixed-top
  position: fixed
  z-index: 1040;
  top: 0
  left: 0
  right: 0
  margin-bottom: 0

  + .main .page
    margin-top: 90px

// header fixed and collapsed
// - reduce margin top
.header-fixed-top.collapsed + .main .page
  margin-top: 50px
  transition: margin 1s

// footer
.footer
  height: 30px
  width: 100%
  background: $kabaBlue
  
.footer-fixed-bottom
  position: fixed
  bottom: 0px