.kaba-link

  &:hover
    color: $kabaOrange
    text-decoration: none

  &::before
    font-family: 'FontAwesome'
    content: "\f054"
    color: $kabaOrange
    margin-right: 5px

  &.kaba-link-kabaBlue
    &::before
      font-family: 'FontAwesome'
      content: "\f054"
      color: $kabaBlue
      margin-right: 5px

  &.kaba-link-kabaMiddleBlue
    &::before
      font-family: 'FontAwesome'
      content: "\f054"
      color: $kabaMiddleBlue
      margin-right: 5px

  &.kaba-link-kabaDarkGray
    &::before
      font-family: 'FontAwesome'
      content: "\f054"
      color: $kabaDarkGray
      margin-right: 5px

  &.kaba-link-kabaTextGray
    &::before
      font-family: 'FontAwesome'
      content: "\f054"
      color: $kabaTextGray
      margin-right: 5px