[class^="icon-"], [class*=" icon-"]
  position: relative

  .ribbon
    position: absolute
    bottom: 1px
    right: -4px
    display: inline-block
    width: 4px
    height: 4px
    border-radius: 10px
    font-size: 8px
    font-style: normal
    line-height: 8px
    padding: 1px 3px 5px 3px
    background: $kabaBlue
    color: $white
    //border: solid 1px $white
    font-weight: 800
    box-shadow: 1px 1px 2px $kabaBlue
    //opacity: 0.9

    &.ribbon-error
      background: $red

    &.ribbon-success
      background: $green

// opera only fix for margin top
x:-o-prefocus, [class^="icon-"] .ribbon, [class*=" icon-"] .ribbon
  position: relative
  right: 0px
  margin-left: -6px