.sidebar
  position: fixed
  width: 200px
  box-shadow: -1px 2px 7px darken($kabaBackgroundGray, 20)

  .well
    border: solid 1px darken($kabaBackgroundGray, 20)
    padding: 4px 14px 19px

  + .page
    margin: 0 0 20px 220px
