.btn
  border-radius: 0

.btn-primary
  background-image: linear-gradient(top, #003366, $kabaBlue)

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]
  background: $kabaBlue

.btn-info
  background-image: linear-gradient(top, $kabaMiddleBlue, #7e8794)
  border-color: $kabaMiddleBlue

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled]
  background: #7e8794
  border-color: $kabaMiddleBlue

.btn-warning
  background-image: linear-gradient(top, $kabaOrange, #d99100)

.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled]
  background: #d99100

.btn-link
  background: none
  border: none

  &:hover
    background: none
    border: none
    box-shadow: 0 0 0 $white

.btn-group 
  > .btn
    &:first-child
      border-radius: left 0

    &:last-child
      border-radius: right 0

  > .dropdown-toggle
    border-radius: right 0

  &.btn-group-vertical .btn
    &:first-child
      border-radius: top 0

    &:last-child
      border-radius: bottom 0

.btn-group 
  .btn-primary.dropdown-toggle
    border-color: $kabaMiddleBlue

.btn-group.open 
  .btn-primary.dropdown-toggle
    background-color: $kabaBlue
    border-color: $kabaBlue

  .btn-info.dropdown-toggle
    background-color: #7e8794
    border-color: $kabaMiddleBlue

  .btn-warning.dropdown-toggle
    background-color: #d99100