.nav-list 
  > .active > a, > .active > a:hover
    background-color: $kabaMiddleBlue

  > .active > a, > .active > a:hover
    border-left: solid 4px $orange
    padding: 3px 15px 3px 11px

  &.bs-docs-sidenav
   > .active > a, > .active > a:hover
    border-left: solid 4px $orange
    padding: 8px 15px 8px 11px

.icon-white, .nav-tabs > .active > a > [class^="icon-"], .nav-tabs > .active > a > [class*=" icon-"], .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"]
  background-image: none