#sample-widget.row-fluid
  .span8
    .widget
      .widget-header
        i.icon-user
        h3 User Information

      .widget-content
        p some text
        p
          h6 some list
          ul
            li item a
            li item b

  .span4
    .widget
      .widget-header
          h3 More Information

      .widget-content
        p some text
        p
          h6 some list
          ul
            li item a
            li item b

#sample-widget-commands.row-fluid
  .span12
    .widget
      .widget-header
        ul.commands
          li: a(href='#')
            i.icon-copy
            | copy
          li: a(href='#')
            i.icon-copy
            | paste
          li.divider
          li: a(href='#')
            i.icon-save
            | save

      .widget-content
        p some text
        p
          h6 some list
          ul
            li item a
            li item b

#sample-widget-tabs.row-fluid
  .span12
    .widget
      ul.nav.nav-tabs
        li.active: a(href="#") Content Area 1
        li: a(href="#") Content Area 2
        li: a(href="#") Content Area 3
    
      .widget-header
        ul.commands.pull-right
          li: a(href='#')
            i.icon-copy
            | copy
          li: a(href='#')
            i.icon-copy
            | paste
          li.divider
          li: a(href='#')
            i.icon-save
            | save

      .widget-content
        p some text
        p
          h6 some list
          ul
            li item a
            li item b

