.downloads
  margin: 0 0 30px
  padding: 5px 20px 20px
  background: lighten($kabaLightBlue, 10)
  border: solid 1px $kabaLightBlue
  border-radius: 2px
  box-shadow: 1px 2px 7px #C2C2C2;

  h6
    text-transform: uppercase