p 
  font-size: 14px

.downloads
  margin: 0 0 20px
  padding: 5px 20px 20px
  background: lighten($kabaLightBlue, 10)
  border: solid 1px $kabaLightBlue
  border-radius: 2px

  h6
    text-transform: uppercase

.framework-links
  a:hover
    text-decoration: none

  .framework-link
    margin: 0 0 20px
    padding: 5px 20px 20px
    background: lighten($kabaLightBlue, 10)
    border: solid 1px $kabaLightBlue
    border-radius: 2px

    h6
      text-transform: uppercase

      i
      	font-size: 16px
      	color: $orange

    &:hover
      background: $kabaLightBlue


.img-border
  border: solid 1px $kabaBlue


span
  &.kabaBlue
    color: $kabaBlue
  &.kabaDarkGray
    color: $kabaDarkGray
  &.kabaTextGray
    color: $kabaTextGray
  &.white
    color: $white

.widget-content
  .section
    margin-bottom: 40px

  .section:last-child
    margin-bottom: 10px