p, .large li, span.large
  font-size: 14px

.downloads
  margin: 0 0 20px
  padding: 5px 20px 20px
  background: lighten($kabaLightBlue, 10)
  border: solid 1px $kabaLightBlue
  border-radius: 2px

  h6
    text-transform: uppercase

  .img16
    position: relative
    margin: -5px 5px 0 0

.framework-links
  a:hover
    text-decoration: none

  .framework-link
    margin: 0 0 20px
    padding: 5px 20px 20px
    background: lighten($kabaLightBlue, 10)
    border: solid 1px $kabaLightBlue
    border-radius: 2px

    h6
      text-transform: uppercase

      i
      	font-size: 16px
      	color: $orange

    &:hover
      background: $kabaLightBlue


.img-border
  border: solid 1px $kabaBlue


span, i
  &.kabaBlue
    color: $kabaBlue
  &.kabaDarkGray
    color: $kabaDarkGray
  &.kabaTextGray
    color: $kabaTextGray
  &.white
    color: $white
  &.orange
    color: $kabaOrange


.btn-hero
  font-size: 16px
  padding: 20px 16px
  border-radius: 3px

  span.lead
    color: $kabaMiddleBlue
    font-weight: bold
    font-size: 25px
  
  &.btn-primary
    span.lead
      color: $kabaOrange

  &.btn-warning
    span.lead
      color: darken($kabaOrange, 15)

// changes to kesign