.samples
  .sample
    margin: 0 0 20px
    padding: 15px 20px 20px
    background: lighten($kabaLightBlue, 10)
    border: solid 1px $kabaLightBlue
    border-radius: 2px

    &:hover
      background: $kabaLightBlue

    .sample-img
      width: 100%
      border-radius: 4px

    .sample-text
      padding-left: 10px
      
      h6
        text-transform: uppercase
        margin-top: 0