@media (max-width: 480px) 
  // page
  // - reduce margins
  .page
    margin: 10px

  // sidebar
  // - not fixed
  .sidebar
    margin: 10px 
    width: inherit
    position: relative
    min-height: 8px

    + .page
      margin-left: 10px

    &.sidebar-fixed
      margin-top: 80px
      position: relative

      + .page
        margin-top: 10px

    .btn-sidebar
      display: block

    .sidebar-collapse, .sidebar-collapse.collapse
      -webkit-transform: translate3d(0,0,0)
      height: 0
      overflow: hidden

  // centered layout
  // - reduce margin
  .container > .page
    margin: 10px

  // fixed header and collapsed header
  // - reduce margin-top
  .header-fixed-top + .main .page
    margin-top: 80px

  .header-fixed-top.collapsed + .main .page
    margin-top: 40px

  .login-page
    .login-content
      .login-form
        width: 90%
        padding: 10px

        .login-hero, .span8
          display: none

        .span4
          width: 100%

@media (max-width: 767px)
  body
    padding: 0



@media (max-width: 979px) and (min-width: 767px)
  .login-page
    .login-content
      .login-form
        width: 760px

        .span4, .span8
          width: 45%

@media (max-width: 767px) and (min-width: 480px)
  // centered layout
  // - reduce margin
  .container > .page
    margin: 20px

  .login-page
    .login-content
      .login-form
        width: 70%
        padding: 10px

        .login-hero, .span8
          display: none

        .span4
          width: 100%

@media (min-width: 481px)
  .sidebar
    .sidebar-collapse, .sidebar-collapse.collapse
      height: auto !important
      overflow: visible !important