- var path = '../'
- var nav = '.documentation'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body(data-spy="scroll", data-target=".sidebar")
    include ../includes/layout/header
          
    include ../includes/layout/content
      .sidebar(data-spy="affix", data-offset-top="100")
        a.btn.btn-sidebar(data-toggle='collapse', data-target='.sidebar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar

        .sidebar-collapse
          ul.nav.nav-list
            li.nav-header Basic Guidelines
            li.active: a(href="#well-section") Wells
            li: a(href="#font-color-section") Font Color
            li: a(href="#links-section") Special Links

      .page
        .section#well-section
          .row-fluid
            .span10
              .widget
                .widget-header
                  h3 Wells

                .widget-content
                  .section
                 
                    .kesign-example.kesign-example-well
                      .well-wrapper
                        h5 Primary colors:
                        .row-fluid
                          .span4
                            .well.well-kabaBlue
                              h6 .well-kabaBlue
                          .span4
                            .well.well-kabaMiddleBlue
                              h6 .well-kabaMiddleBlue
                          .span4
                            .well.well-kabaLightBlue
                              h6 .well-kabaLightBlue

                        h5 Gray:
                        .row-fluid
                          .span4
                            .well.well-kabaDarkGray
                              h6 .well-kabaDarkGray
                          .span4
                            .well.well-kabaTextGray
                              h6 .well-kabaTextGray
                          .span4
                            .well.well-kabaMiddleGray
                              h6 .well-kabaMiddleGray
                        .row-fluid
                          .span4
                            .well.well-kabaLightGray
                              h6 .well-kabaLightGray
                          .span4
                            .well.well-kabaBackgroundGray
                              h6 .well-kabaBackgroundGray
                          .span4
                            .well.well-kabaWhite
                              h6 .well-kabaWhite

                        h5 Secondary colors:
                        .row-fluid
                          .span4
                            .well.well-kabaOrange
                              h6 .well-kabaOrange
                        .row-fluid
                          .span4
                            .well.well-kabaGreen
                              h6 .well-kabaGreen
                          .span4
                            .well.well-kabaLightYellow
                              h6 .well-kabaLightYellow
                          .span4
                            .well.well-kabaRed
                              h6 .well-kabaRed

                        hr

                        h5 Gradients Primary colors:
                        .row-fluid
                          .span4
                            .well.well-kabaBlue.gradient
                              h6 .well-kabaBlue
                          .span4
                            .well.well-kabaMiddleBlue.gradient
                              h6 .well-kabaMiddleBlue
                          .span4
                            .well.well-kabaLightBlue.gradient
                              h6 .well-kabaLightBlue

                        h5 Gradients Gray:
                        .row-fluid
                          .span4
                            .well.well-kabaDarkGray.gradient
                              h6 .well-kabaDarkGray
                          .span4
                            .well.well-kabaTextGray.gradient
                              h6 .well-kabaTextGray
                          .span4
                            .well.well-kabaMiddleGray.gradient
                              h6 .well-kabaMiddleGray
                        .row-fluid
                          .span4
                            .well.well-kabaLightGray.gradient
                              h6 .well-kabaLightGray
                          .span4
                            .well.well-kabaBackgroundGray.gradient
                              h6 .well-kabaBackgroundGray
                          .span4
                            .well.well-kabaWhite.gradient
                              h6 .well-kabaWhite

                        h5 Gradients Secondary colors:
                        .row-fluid
                          .span4
                            .well.well-kabaOrange.gradient
                              h6 .well-kabaOrange
                        .row-fluid
                          .span4
                            .well.well-kabaGreen.gradient
                              h6 .well-kabaGreen
                          .span4
                            .well.well-kabaLightYellow.gradient
                              h6 .well-kabaLightYellow
                          .span4
                            .well.well-kabaRed.gradient
                              h6 .well-kabaRed
                      
                    .prettyprint
                      - var sample = '<!-- without gradient -->\n'
                      - sample    += '<div class="well well-kabaBlue">\n'
                      - sample    += '</div>\n'
                      - sample    += '<!-- with gradient -->\n'
                      - sample    += '<div class="well well-kabaBlue gradient">\n'
                      - sample    += '</div>\n'
                      
                      pre
                        code
                          | #{sample}

        .section#font-color-section
          .row-fluid
            .span10
              .widget
                .widget-header
                  h3 Wells

                .widget-content
                  .section
                 
                    .kesign-example.kesign-example-well
                      .well-wrapper
                        h5 font colors:
                        .row-fluid
                          .well.well-kabaWhite.gradient
                            .text-kabaBlue This is '.text-kabaBlue'
                            .text-kabaDarkGray This is '.text-kabaDarkGray'
                            .text-kabaTextGray This is '.text-kabaTextGray'

                          .well.well-kabaBlue.gradient
                            .text-white This is '.text-white'

                    .prettyprint
                      - var sample = '<div class="text-kabaBlue">\n'
                      - sample    += '</div>\n'
                      
                      pre
                        code
                          | #{sample}

        .section#links-section
          .row-fluid
            .span10
              .widget
                .widget-header
                  h3 Special forms of links

                .widget-content
                  .section
                    h5 Shortcuts
                 
                    .kesign-example.kesign-example-widget.kesign-example-links
                      kesign-example-widget
                        h6 variants:
                        .shortcuts
                          a(href='#')
                            .shortcut
                              i.icon-envelope.shortcut-icon
                              .shortcut-label Some shortcut
                          a(href='#')
                            .shortcut.shortcut-gray
                              i.icon-home.shortcut-icon
                              .shortcut-label Another shortcut
                          a(href='#')
                            .shortcut.shortcut-orange
                              i.icon-cloud.shortcut-icon
                              .shortcut-label Another shortcut
                        h6 selected:
                        .shortcuts
                          a(href='#')
                            .shortcut.selected
                              i.icon-envelope.shortcut-icon
                              .shortcut-label Some shortcut
                          a(href='#')
                            .shortcut.shortcut-gray.selected
                              i.icon-home.shortcut-icon
                              .shortcut-label Another shortcut
                          a(href='#')
                            .shortcut.shortcut-orange.selected
                              i.icon-cloud.shortcut-icon
                              .shortcut-label Another shortcut
                        h6 disabled:
                        .shortcuts
                          a(href='#')
                            .shortcut.disabled
                              i.icon-envelope.shortcut-icon
                              .shortcut-label disabled shortcut
                          a(href='#')
                            .shortcut.disabled
                              i.icon-home.shortcut-icon
                              .shortcut-label disabled shortcut
                          a(href='#')
                            .shortcut.disabled
                              i.icon-cloud.shortcut-icon
                              .shortcut-label disabled shortcut

                    .prettyprint
                      - var sample = '<div class="shortcuts">\n'
                      - sample    += '  <!-- middle blue -->\n'
                      - sample    += '  <a href="#">\n'
                      - sample    += '    <div class="shortcut">\n'
                      - sample    += '      <i class="shortcut-icon icon-envelope"></i>\n'
                      - sample    += '      <div class="shortcut-label">some shortcut</div>\n'
                      - sample    += '    </div>\n'
                      - sample    += '  </a>\n'
                      - sample    += '  <!-- light gray -->\n'
                      - sample    += '  <a href="#">\n'
                      - sample    += '    <div class="shortcut shortcut-gray">\n'
                      - sample    += '      <i class="shortcut-icon icon-home"></i>\n'
                      - sample    += '      <div class="shortcut-label">another shortcut</div>\n'
                      - sample    += '    </div>\n'
                      - sample    += '  </a>\n'
                      - sample    += '  <!-- orange -->\n'
                      - sample    += '  <a href="#">\n'
                      - sample    += '    <div class="shortcut shortcut-orange">\n'
                      - sample    += '      <i class="shortcut-icon icon-cloud"></i>\n'
                      - sample    += '      <div class="shortcut-label">another shortcut</div>\n'
                      - sample    += '    </div>\n'
                      - sample    += '  </a>\n'
                      - sample    += '  <!-- selected eg. middle blue -->\n'
                      - sample    += '  <a href="#">\n'
                      - sample    += '    <div class="shortcut selected">\n'
                      - sample    += '      <i class="shortcut-icon icon-envelope"></i>\n'
                      - sample    += '      <div class="shortcut-label">some shortcut</div>\n'
                      - sample    += '    </div>\n'
                      - sample    += '  </a>\n'
                      - sample    += '  <!-- disabled eg. middle blue -->\n'
                      - sample    += '  <a href="#">\n'
                      - sample    += '    <div class="shortcut disabled">\n'
                      - sample    += '      <i class="shortcut-icon icon-envelope"></i>\n'
                      - sample    += '      <div class="shortcut-label">some shortcut</div>\n'
                      - sample    += '    </div>\n'
                      - sample    += '  </a>\n'
                      - sample    += '</div>\n'
                      
                      pre
                        code
                          | #{sample}

    include ../includes/layout/footer
    
    include ../includes/layout/endscripts