- var path = '../'
- var nav = '.samples'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body(data-spy="scroll", data-target=".sidebar")
    include ../includes/layout/header
          
    include ../includes/layout/content
      .sidebar.sidebar-fixed
        ul.nav.nav-list.well
          li.nav-header Guidelines
          li: a(href="#software") Software
          li: a(href="#mobile") Mobile

      .page
        .section#software
          .row-fluid(style='height: 700px;')
            .span8
              .widget
                .widget-header
                  h3 Layout Samples Software Guidelines


                .widget-content
                  h6 Default:
                  ul.unstyled
                    li: a(href='#{path}samples/default.html') normal 
                    li: a(href='#{path}samples/default-fixed.html') fixed
                  h6 Centered:
                  ul.unstyled
                    li: a(href='#{path}samples/default-center.html') normal 
                    li: a(href='#{path}samples/default-fixed-center.html') fixed 


        .section#mobile
          .row-fluid
            .span8 
              p sdfdsf

            .span4
      
    include ../includes/layout/footer
    
    include ../includes/layout/endscripts