nav.bar-tab
  ul.tab-inner
    li.tab-item.active
      a(href="selectsite.html")
        i.icon-key
        div.tab-label Access
    li.tab-item
      a(href="#")
        i.icon-info-sign
        div.tab-label About
    li.tab-item
      a(href="#")
        i.icon-envelope-alt
        div.tab-label Contact
    li.tab-item
      a(href="index.html")
        i.icon-unlock
        div.tab-label Logout