- var path = '../'
- var title = 'i18next - release notes'
- var nav = '.releasenotes'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

    title i18next Release Notes

  body
    include ../includes/layout/header
          
    include ../includes/layout/content
      .page
        .widget
          .widget-header
            i.icon-file
            h3 Release Notes

          .widget-content
            :markdown
              ##### v0.9.x
              - added dataTable.net support
              - added classes for reports
              - added print css basics
              
              ##### v0.9.0
              - added shortcuts
              - added equal height script
              - added wells and forecolor
              - added ribbons
              - added image caption
              - added news list
              - added stats

              ##### v0.0.5
              - responsive sidebar
              - toggle header brandbar
              - done loginpage in printstyle
              - redone sample content

              ##### v0.0.1
              - adapted styles to twitter bootstrap
              - extended with layouts
              - added widgets container
              - added samples
                
      
    include ../includes/layout/footer
    
    include ../includes/layout/endscripts