// http://paulirish.com/2009/browser-specific-css-hacks/

// change img-caption to block as inline-block doesn't work like expected
unquote('.img-caption { display /*\**/: block\9; }')  /* for IE 7 and IE 8 */