/*
 * Base CSS override
 */
body
  color: $kabaTextGray


h1, h2, h3, h4, h5, h6
  color: $kabaBlue

a
  color: $kabaBlue

p
  a
    color: lighten($kabaBlue, 5)
    text-shadow: 0 1px 0 $kabaLightBlue



@media screen and (min-width: 768px)
  body
    font-size: 14px
    


// html, body
//   height: 100%



// address strong
//   color: $kabaBlue

// blockquote
//   small
//     color: $kabaBlue

// dt
//   color: $kabaBlue





// .dropdown-menu
//   border-bottom: solid 2px $kabaBlue
//   border-radius: 0
//   background: $kabaLightGray
//   color: $kabaBlue
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)

//   li
//     a
//       text-shadow: 0 1px 0 $white
//       color: $kabaTextGray

//   li > a:hover, li > a:focus, .dropdown-submenu:hover > a
//     color: $kabaBlue
//     text-decoration: none
//     background: $kabaLightGray


//   .dropdown-submenu > a::after
//     border-left-color: $kabaTextGray

//   .dropdown-submenu:hover > a::after
//     border-left-color: $kabaDarkGray