.pad
  padding: 0 15px

  &:first-child
    h1, h2, h3, h4, h5, h6
      margin-top: 0

.pad-sm
  padding: 0 15px



.snapjs-left .pad-sm, .snapjs-right .pad-sm
  padding: 0

.col.col-no-padding
  padding: 0

.scrollable
    overflow: auto
    -webkit-transition-property: top, bottom
    transition-property: top, bottom
    -webkit-transition-duration: .2s, .2s
    transition-duration: .2s, .2s
    -webkit-transition-timing-function: linear, linear
    transition-timing-function: linear, linear
    -webkit-overflow-scrolling: touch

@media screen and (min-width: 768px)

  .pad
    padding: 0 15px
    margin-top: 5px

    &:first-child
      h1, h2, h3, h4, h5, h6
        margin-top: 15px

  .pad-sm
    padding: 0

// .well
//   background-color: $kabaLightGray
//   border-radius: 0
//   border-bottom: solid 2px $kabaBlue