- var path = ''
- var version = '1.5.7'
!!! 5
html(lang="en")
  head
    include includes/layout/head

  body
    include includes/layout/header
          
    include includes/layout/content
      .row-fluid
        .span8

        .span4

      
    include includes/layout/footer
    
    include includes/layout/endscripts