.bar-title
  kabaBlue-gradient()

  .title
    font-size: 16px
    font-weight: normal

  [class*="button"]
    kabaBlue-gradient()
    border: 1px solid $kabaBlue

  .button-prev:before
    background-image: -webkit-gradient(linear, left bottom, right top, from(#003366), to($kabaBlue));
    background-image: gradient(linear, left bottom, right top, from(#003366), to($kabaBlue));
  
  .button-next:before
    background-image: -webkit-gradient(linear, left bottom, right top, from(#003366), to($kabaBlue));
    background-image: gradient(linear, left bottom, right top, from(#003366), to($kabaBlue));

  .segmented-controller
    kabaBlue-gradient()
    border: 1px solid $kabaBlue

    li
      border-left: 1px solid $kabaBlue

      &.active
        background-color: $kabaOrange

.bar-tab
  [class^="icon-"], [class*=" icon-"]
    color: $kabaLightGray
    font-size: 24px
    line-height: 1px
    padding-bottom: 7px