- var path = '../../../'
!!! 5
html
  head
    include ../../includes/oracode/head
  body
    // Wrap all non-bar HTML in the .content div (this is actually what scrolls) 
    .content
      .login-page
        .login-content
          .brandbar
            a.brand
          .load-progress(style="display: none;")
            span 
              img.img-spinner(src="#{path}public/img/load_spinner.gif")
              |  loading ...
          .login-form
            form(action='/login', method='post')
              legend 
                span Please Login
                span.pull-right
                  label.checkbox
                    input(type="checkbox")
                    | Remember me? 

              .fields
                input.span12(name='username', type='text', placeholder='Username')
                input.span12(name='password', type='password', placeholder='Password')
                      
              .login-actions
                a.button.button-orange.pull-right(href="selectsite.html", data-transition="slide-in")
                  | Login
                a.button Forgot Your Password?

      script
        // simulate loading
        function slideUp() {
          $('.load-progress').hide();
          $('.login-form').addClass('visible');
          $('.login-form').removeClass('hidden');
          add2home.init({
            lifespan: 10000,
            touchIcon: true,
            expire: 0
          });
          add2home.show();
        }
        $('document').ready(function() {
          $('.load-progress').show();
          $('.login-form').addClass('hidden');
          setTimeout(slideUp, 1000);
        });

      include ../../includes/oracode/endscript
        
