- var path = '../../../'
!!! 5
html
  head
    include ../../includes/oracode/head
  body
    // Make sure all your bars are the first things in your <body> 
    header.bar-title

    include ../../includes/oracode/tabs
    // Wrap all non-bar HTML in the .content div (this is actually what scrolls) 
    .content
      .content-padded
        h3 select a site:
      ul.list.inset
        li
          a(href='selectdoor.html', data-transition="slide-in")
            strong Site A
            span.chevron

        li
          a(href='selectdoor.html', data-transition="slide-in")
            strong Site B
            span.chevron

        li
          a(href='selectdoor.html', data-transition="slide-in")
            strong Site C
            span.chevron

        li
          a(href='selectdoor.html', data-transition="slide-in")
            strong Site D
            span.chevron

        li
          a(href='selectdoor.html', data-transition="slide-in")
            strong Site E
            span.chevron

      include ../../includes/oracode/endscript
