[class^="icon-"], [class*=" icon-"]
  position: relative

  .ribbon
    position: absolute
    bottom: -5px
    right: -5px
    display: inline-block
    border-radius: 10px
    font-size: 12px
    font-style: normal
    line-height: 10px
    padding: 2px 3px 1px 3px
    background: $kabaBlue
    color: $white
    //border: solid 1px $white
    font-weight: bold
    //box-shadow: 1px 1px 2px $kabaBlue
    //opacity: 0.9

    &.ribbon-error
      background: $red

    &.ribbon-success
      background: $green


@media screen and (min-width: 768px)
    [class^="icon-"], [class*=" icon-"]
      .ribbon
        font-size: 10px