.tabs
  background-color: #393939
  background-image: linear-gradient(top, #393939 0, #2b2b2b 100%)
  border-top: 1px solid #000
  border-bottom-width: 0
  box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .6)
  height: 50px
  overflow: hidden


  .nav.nav-tabs
    li
      .tab-label
        margin-top: 1px;
        font-size: 10px;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 1px rgba(0, 0, 0, .3);

      .tab-icon
        display: block
        height: 18px
        margin: 0 auto

      [class^="icon-"], [class*=" icon-"]
        color: $kabaLightGray
        font-size: 20px
        line-height: 1px
        padding-bottom: 7px
      
      a
        color: $white
        cursor: default
        background-color: transparent
        border: none
        border-bottom-color: transparent
        padding: 9px 15px 8px

      &.active
        box-shadow: inset 0 0 20px rgba(0, 0, 0, .5)
        

// .bar-tab
//   [class^="icon-"], [class*=" icon-"]
//     color: $kabaLightGray
//     font-size: 24px
//     line-height: 1px
//     padding-bottom: 7px

// /* Bar docked to bottom used for primary app navigation */
// .bar-tab {
//   bottom: 0;
//   height: 50px;
//   padding: 0;
//   background-color: #393939;
//   background-image: -webkit-linear-gradient(top, #393939 0, #2b2b2b 100%);
//   background-image: linear-gradient(to bottom, #393939 0, #2b2b2b 100%);
//   border-top: 1px solid #000;
//   border-bottom-width: 0;
//   box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .6);
// }

// /* Wrapper for individual tab */
// .tab-inner {
//   display: -webkit-box;
//   display: box;
//   height: 100%;
//   list-style: none;
//   -webkit-box-orient: horizontal;
//           box-orient: horizontal;
// }

// /* Navigational tab */
// .tab-item {
//   height: 100%;
//   padding-top: 9px;
//   text-align: center;
//   box-sizing: border-box;
//   -webkit-box-flex: 1;
//           box-flex: 1;
// }

// /* Active state for tab */
// .tab-item.active {
//   box-shadow: inset 0 0 20px rgba(0, 0, 0, .5);
// }

// /* Icon for tab  */
// .tab-icon {
//   display: block;
//   height: 18px;
//   margin: 0 auto;
// }

// /* Label for tab */
// .tab-label {
//   margin-top: 1px;
//   font-size: 10px;
//   font-weight: bold;
//   color: #fff;
//   text-shadow: 0 1px rgba(0, 0, 0, .3);
// }