// GRADIENT MIXINS
// --------------------------------------------------

// Grays
// -------------------------
kabaDarkGray-gradient(d = top)
    kaba-gradient(d, $kabaDarkGray, #333)

kabaTextGray-gradient(d = top)
    kaba-gradient(d, $kabaTextGray, #666)
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#808080, endColorstr=#666666, GradientType=0)')

kabaMiddleGray-gradient(d = top)
    kaba-gradient(d, $kabaMiddleGray, #b3b3b3)
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#cccccc, endColorstr=#b3b3b3, GradientType=0)')

kabaLightGray-gradient(d = top)
    kaba-gradient(d, $kabaLightGray, #d4d4d4)
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeeee, endColorstr=#d4d4d4, GradientType=0)')

kabaBackgroundGray-gradient(d = top)
    kaba-gradient(d, $kabaBackgroundGray, #e5e5e5)
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#e5e5e5, GradientType=0)')

kabaWhite-gradient(d = top)
    kaba-gradient(d, $white, #eee)
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eeeeee, GradientType=0)')


// Blue
// -------------------------
kabaBlue-gradient(d = top)
    kaba-gradient(d, #003366, $kabaBlue)
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#003366, endColorstr=#04284d, GradientType=0)')

kabaMiddleBlue-gradient(d = top)
    kaba-gradient(d, $kabaMiddleBlue, #7e8794)
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#8d97a6, endColorstr=#7e8794, GradientType=0)')

kabaLightBlue-gradient(d = top)
    kaba-gradient(d, $kabaLightBlue, #bdc2c7)
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#d5dbe0, endColorstr=#bdc2c7, GradientType=0)')


// Accent colors
// -------------------------
kabaOrange-gradient(d = top)
    kaba-gradient(d, $kabaOrange, #f2a200)
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2a200, endColorstr=#f2a200, GradientType=0)')

kabaGreen-gradient(d = top)
    kaba-gradient(d, #8bcc5c, $kabaGreen)
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#8bcc5c, endColorstr=#72a74b, GradientType=0)')

kabaRed-gradient(d = top)
    kaba-gradient(d, $kabaRed, #d20000)
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#f20000, endColorstr=#d20000, GradientType=0)')

kabaLightYellow-gradient(d = top)
    kaba-gradient(d, #fffccc, $kabaLightYellow)
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffccc, endColorstr=#fffba6, GradientType=0)')

// Helper Function
// -------------------------
kaba-gradient(d = top, stop1, stop2)
    background: stop2
    background: linear-gradient(d, stop1, stop2)