- var path = '../'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body
    header.header
      .header-inner
        .brandbar.brandbar-xsmall.collapse.in
            a.brand(href="#{path}index.html")

            .statusbar.pull-right
              strong Welcome 
              | John Mustermann 
              span.label.label-warning Admin Status

        .navbar
          include ../includes/sample-navbar
          
    .main
      .main-inner
        .sidebar
          ul.nav.nav-list.well
            li: a(href="#") Home
            li: a(href="#") Documentation
            li.divider
            li.nav-header Samples
            li.active: a(href="#") Sample 1
            li: a(href="#") Sample 2

        .page
          include ../includes/sample-content
      
    footer.footer
      .footer-inner
          | kesign is freely distributable under the terms of the MIT license.
    
    include ../includes/layout/endscripts



