- var path = '../'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body
    header.header.header-fixed-top
      .header-inner
        .brandbar.brandbar-xsmall
            a.brand(href="#{path}index.html")

            .statusbar.pull-right
              strong Welcome 
              | John Mustermann 
              span.label.label-warning Admin Status

        .navbar
          .navbar-inner
            .container

              //.btn-navbar is used as the toggle for collapsed navbar content
              a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar

              // Everything you want hidden at 940px or less, place within here
              .nav-collapse

                ul.nav
                  li: a(href="#") Home
                  li.divider-vertical
                  li: a(href="#") Documentation
                  li.divider-vertical
                  li.dropdown
                    a.dropdown-toggle(href="#", data-toggle='dropdown') 
                      | Samples 
                      b.caret
                    ul.dropdown-menu(role='menu', aria-labelledBy='dropdownMenu')
                      li: a(href="#") Sample 1
                      li: a(href="#") Sample 2
                      li.dropdown-submenu
                        a(href="#") Sample 3
                        ul.dropdown-menu(role='menu', aria-labelledBy='dropdownMenu')
                          li: a(href="#") Sample 3.1
                          li: a(href="#") Sample 3.2
                          li: a(href="#") Sample 3.3
                          li: a(href="#") Sample 3.4
                          li: a(href="#") Sample 3.5
                  li.divider-vertical

                ul.nav.pull-right.nav-small
                  li
                    a(href='#')
                      i.icon-unlock
                      |  Logout
                  li.divider-vertical
                  li
                    a(href='#')
                      | ?
                      |  Help
                  li.divider-vertical
                  li
                    a(href='#')
                      i.icon-chevron-up
          
    .main
      .main-inner
        .sidebar
          ul.nav.nav-list.well
            li: a(href="#") Home
            li: a(href="#") Documentation
            li.divider
            li.nav-header Samples
            li.active: a(href="#") Sample 1
            li: a(href="#") Sample 2

        .page
          .container
            .content-container 
            .row-fluid
              .span8

              .span4

      
    footer.footer.footer-fixed-bottom
      .footer-inner
          .container
              .row
                  .span12 kesign is freely distributable under the terms of the MIT license.
    
    include ../includes/layout/endscripts



